extends ../client

block title
	title #{$msgs$.sitename} - #{$msgs$.order}

block functions
	include ./orderNameSelectWithSearch
	br
	input#searchField.focusElementOfSelectable-searchHints.browserStyle(type="search" onfocus="document.getElementById(selectablesModel[1]).style.display='';updateSearch('searchHints','searchField')" onblur="setTimeout(function(){document.getElementById(selectablesModel[1]).style.display='none';},100);" oninput="func('searchHints','searchField')" style="display: none;width: 260px")
	select#searchHints(size="10" style="position: absolute; z-index: 100; display: none;")
	br
	label#searchHintsLabel
	br
	br
	form.focusElementOfSelectable-orderFormsTableBody(tabindex="0" style="display: none")
		table#orderFormsTable.borderedTable(border="1" style="width: 99%")
			thead#orderFormsTableHead
			tbody#orderFormsTableBody
	br
	br
	form.focusElementOfSelectable-orderOffersTableBody(tabindex="0" style="display: none")
		table#orderOffersTable.borderedTable(border="1" style="width: 99%")
			thead#orderOffersTableHead
			tbody#orderOffersTableBody
	br
	br
	form(style="display: none")
		table#Table.borderedTable(border="1" style="width: 90%")
			thead#TableHead
			tbody#TableBody
	br
	br
	script(type="text/javascript" src="/scripts/order.js")